button {
	&.mantine-Button-Root {
		border: 3px solid red !important;
	}
	&[data-variant="default"] {
		color: var(--mantine-color-body);
		@mixin dark {
			background-color: var(--mantine-color-lacouleur-2);
		}
		@mixin light {
			background-color: var(--mantine-color-lacouleur-8);
		}
	}
	&[data-variant="filled"] {
		color: var(--mantine-color-body);
		@mixin dark {
			background-color: var(--mantine-color-lacouleur-2);
		}
		@mixin light {
			background-color: var(--mantine-color-lacouleur-8);
		}
	}
	&[data-variant="gradient"] {
		color: var(--mantine-color-body);

		@mixin dark {
			--button-bg: linear-gradient(
				135deg,
				var(--mantine-color-lacouleur-2),
				var(--mantine-color-lacouleur-5)
			) !important;
		}
		@mixin light {
			--button-bg: linear-gradient(
				135deg,
				var(--mantine-color-lacouleur-4),
				var(--mantine-color-lacouleur-9)
			) !important;
		}
	}
}
